<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Full Test Suite">
    <test name="Unit Tests">
        <classes>
            <class name="unit.OperationListenerTest"/>
            <class name="unit.OperationServiceTest"/>
        </classes>
    </test>
    <test name="Integration Tests">
        <classes>
            <class name="integrated.SFTPTest"/>
        </classes>
    </test>
</suite>
